<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="User" text="用户管理" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" permissions="cms_user,platform_users"  selected="true">
      <SubTabs>
        <Tab text="用户管理" href="cms/background_user.aspx" keepQueryString="true" target="right" />
        <Tab text="审核新用户" href="cms/background_userCheck.aspx" keepQueryString="true" target="right"/>        
        <Tab text="用户登录方式" href="cms/background_thirdLogin.aspx" keepQueryString="true" target="right" />
        <!-- <Tab ban="cms:selfservice" text="发送消息" iconUrl="~/sitefiles/bairong/Icons/menu/sms.png">
          <SubTabs>
            <Tab text="邮件群发" href="cms/background_userMail.aspx" keepQueryString="true" target="right"/>
            <Tab text="短消息群发" href="cms/background_userMessage.aspx" keepQueryString="true" target="right"/>
            <Tab text="短信群发" href="cms/background_userSMS.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab> -->
        <Tab text="通用设置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
          <SubTabs>
            <Tab text="用户注册设置" href="cms/background_userConfigRegister.aspx" keepQueryString="true" target="right"/>
            <Tab text="用户字段管理" href="cms/background_userTableStyle.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="BBS用户设置" href="cms/background_userGroup.aspx" keepQueryString="true" target="right" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" />
        <Tab text="B2C用户设置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" />
        <Tab text="CMS用户设置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" />       
      </SubTabs>
    </Tab>
    <Tab id="Content" text="信息管理" permissions="cms_contentView,cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_publishPage,cms_contentCheck,cms_contentModel,cms_category,cms_siteAnalysis,cms_contentTrash,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/content.png">
      <SubTabs>
        <Tab text="内容管理" permissions="cms_contentView,cms_contentAdd,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/contents.gif" href="cms/background_contentMain.aspx" keepQueryString="true" target="right" />
        <Tab text="栏目管理" permissions="cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_publishPage,platform_users" href="cms/background_channel.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/itemContainer.png" keepQueryString="true" target="right"/>
        <Tab text="栏目及内容" permissions="cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_publishPage,cms_contentView,platform_users" href="cms/background_contentChannel.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/contentchannel.png" keepQueryString="true" target="right"/>
        <Tab text="内容审核" permissions="cms_contentCheck,platform_users" href="cms/background_contentCheck.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/check.png" keepQueryString="true" target="right" />
        <Tab text="内容搜索" permissions="cms_contentView,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/search.gif" href="cms/background_contentSearch.aspx" keepQueryString="true" target="right" />
        <Tab text="批量转移" permissions="cms_contentTranslate,cms_channelTranslate,platform_users" href="cms/background_channelTranslate.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/translate.png" keepQueryString="true" target="right"/>
        <Tab text="评论管理" permissions="cms_commentDelete,cms_commentCheck,platform_users" href="cms/background_commentContent.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/comment.png" keepQueryString="true" target="right" />
        <Tab id="ContentTrash" text="内容回收站" permissions="cms_contentTrash,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/trash.gif" href="cms/background_contentTrash.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Template" text="显示管理" permissions="cms_template,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/template.gif">
      <SubTabs>
        <Tab text="模板管理" href="stl/background_templateMain.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/templateManage.png" target="right" />
        <Tab text="匹配模板" href="stl/background_templateMatch.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/templateMatch.png" target="right"/>
        <Tab text="包含文件管理" href="stl/background_templateInclude.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/include.png" target="right"/>
        <Tab id="TagStyle" text="模板标签样式" iconUrl="~/sitefiles/bairong/Icons/menu/tagStyle.png">
          <SubTabs>
            <Tab text="内容提交样式" href="stl/background_tagStyleContentInput.aspx" keepQueryString="true" target="right"/>
            <Tab text="下拉菜单样式" href="stl/background_tagStyleMenu.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="自定义模板语言" href="stl/background_stlTag.aspx" keepQueryString="true" target="right"/>
        <Tab text="模板语言参考" href="stl/background_templateReference.aspx" keepQueryString="true" target="right"/>
        <!--<Tab text="生成常用标签" href="cms/background_stlCreate.aspx" keepQueryString="true" target="right"/> -->
      </SubTabs>
    </Tab>
    <Tab id="Create" text="生成管理" permissions="cms_create,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif">
      <SubTabs>
        <Tab text="生成首页" href="stl/background_progressBar.aspx?CreateIndex=True" keepQueryString="true" target="right"/>
        <Tab text="生成栏目页" href="stl/background_createChannel.aspx" keepQueryString="true" target="right"/>
        <Tab text="生成内容页" href="stl/background_createContent.aspx" keepQueryString="true" target="right"/>
        <Tab text="生成文件页" href="stl/background_createFile.aspx" keepQueryString="true" target="right"/>
        <!-- <Tab text="快速生成" href="stl/background_createAll.aspx" keepQueryString="true" target="right"/> -->
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
