<?xml version="1.0" encoding="utf-8"?>
<config>
  <core adminDirectory="siteserver" isSaas="false" apiUrl="" isCollection="true" isValidateCode="true" checkCode="validate" isForgetPassword="false"></core>
  <sso integrationType="GeXia" isUser="false" userPrefix="" isvKey="" loginUrl="" callbackUrl=""></sso>
  <oem isOEM="false" companyName="" companyUrl="" productName="" productUrl=""></oem>
</config>